# Ignore virtual environment
.venv/

# Ignore PDM lock file (optional, recommended to share exact versions)
__pypackages__/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
db.sqlite3

# Ignore environment variables
.env
